In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn import preprocessing

In [2]:
df = pd.read_csv('tmdb_5000_movies.csv')

df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [4]:
missing_values = df.isna().sum()
missing_values_df = pd.DataFrame({'missing_count': missing_values,
                                  'perc': round(missing_values / len(df) * 100, 2)})
missing_values_df.sort_values(by='missing_count', ascending=False)

                      missing_count   perc
homepage                       3091  64.36
tagline                         844  17.57
overview                          3   0.06
runtime                           2   0.04
release_date                      1   0.02
id                                0   0.00
budget                            0   0.00
genres                            0   0.00
original_title                    0   0.00
popularity                        0   0.00
original_language                 0   0.00
keywords                          0   0.00
production_countries              0   0.00
production_companies              0   0.00
spoken_languages                  0   0.00
revenue                           0   0.00
status                            0   0.00
title                             0   0.00
vote_average                      0   0.00
vote_count                        0   0.00

In [5]:
df['homepage'] = df['homepage'].fillna('-')
# df['tagline'] = df['tagline'].fillna('-')
df['overview'] = df['overview'].fillna('-')

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df['keywords'].loc[0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [8]:
df['genres'].loc[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [9]:
df['status'].value_counts()

status
Released           4795
Rumored               5
Post Production       3
Name: count, dtype: int64

In [10]:
condition = (df['status'] == 'Rumored') | (df['status'] == 'Post Production')

df_rec = df[~condition]
df_rec = df_rec[['id', 'title', 'keywords', 'overview', 'genres', 'popularity', 'vote_average', 'vote_count']]

df_rec.head()

,id,title,keywords,overview,genres,popularity,vote_average,vote_count
0,19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",150.437577,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",139.082615,6.9,4500
2,206647,Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",107.376788,6.3,4466
3,49026,The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",112.312950,7.6,9106
4,49529,John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",43.926995,6.1,2124

In [11]:
df_rec.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4795 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4795 non-null   int64
 1   title         4795 non-null   object
 2   keywords      4795 non-null   object
 3   overview      4795 non-null   object
 4   genres        4795 non-null   object
 5   popularity    4795 non-null   float64
 6   vote_average  4795 non-null   float64
 7   vote_count    4795 non-null   int64
dtypes: float64(2), int64(2), object(4)
memory usage: 337.1+ KB

In [12]:
categorical_cols = ['keywords', 'overview', 'genres']
numerical_cols = ['popularity', 'vote_average', 'vote_count']

In [13]:
df_rec.describe()

                  id   popularity  vote_average    vote_count
count    4795.000000  4795.000000   4795.000000   4795.000000
mean    57051.887800    21.527415      6.093306    691.360792
std     88593.489117    31.831547      1.190313   1235.298140
min         5.000000     0.000000      0.000000      0.000000
25%      9010.500000     4.723880      5.600000     54.000000
50%     14585.000000    12.963328      6.200000    236.000000
75%     58533.000000    28.352222      6.800000    738.000000
max    459488.000000   875.581305     10.000000  13752.000000

In [14]:
df_rec[categorical_cols].describe()

       keywords overview                         genres
count      4795     4795                           4795
unique     4218     4793                           1175
top          []        -  [{"id": 18, "name": "Drama"}]
freq        409        3                            369

In [15]:
df_empty = df_rec[df_rec['keywords'].apply(lambda x: x == [] or x == "[]") | df_rec['genres'].apply(lambda x: x == [] or x == "[]")]

df_empty

,id,title,keywords,overview,genres,popularity,vote_average,vote_count
71,1735,The Mummy: Tomb of the Dragon Emperor,[],"Archaeologist Rick O'Connell travels to China,...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",60.034162,5.2,1387
83,79698,The Lovers,[],The Lovers is an epic romance time travel adve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",2.418535,4.8,34
323,37786,Sex and the City 2,[],"Carrie, Charlotte, and Miranda are all married...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",18.325897,5.4,426
381,49852,The Nutcracker: The Untold Story,[],"Set in 1920's Vienna, this a tale of a little ...","[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",3.593349,5.4,50
436,109418,Grown Ups 2,[],The all-star comedy cast from Grown Ups return...,"[{""id"": 35, ""name"": ""Comedy""}]",45.589568,5.8,1155
...,...,...,...,...,...,...,...,...
4790,13898,The Circle,[],Various women struggle to function in the oppr...,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10769, ""n...",1.193779,6.6,17
4794,286939,Sanctuary: Quite a Conundrum,[],"It should have been just a normal day of sex, ...","[{""id"": 53, ""name"": ""Thriller""}, {""id"": 27, ""n...",0.166513,0.0,0
4797,67238,Cavite,[],"Adam, a security guard, travels from Californi...","[{""id"": 10769, ""name"": ""Foreign""}, {""id"": 53, ...",0.022173,7.5,2
4799,72766,Newlyweds,[],A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",0.642552,5.9,5
4801,126186,Shanghai Calling,[],When ambitious New York attorney Sam is sent t...,[],0.857008,5.7,7

In [16]:
# import ast

# for item in ['keywords', 'genres']:
#   df_rec[item] = df_rec[item].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else x)

# # df_rec['keywords'].loc[0]

In [17]:
import ast

def safe_parse(x):
    if isinstance(x, list):
        return x
    if isinstance(x, dict):
        return [x]
    if isinstance(x, float) or x is None:
        return []
    if isinstance(x, str):
        x = x.strip()
        if x == "" or x == "[]" or x.lower() == "nan":
            return []
        try:
            return ast.literal_eval(x)
        except:
            return []
    return []

In [18]:
df_rec['genres'] = df_rec['genres'].apply(safe_parse)
df_rec['keywords'] = df_rec['keywords'].apply(safe_parse)

In [19]:
target = []

filtered_df = df_rec[df_rec['keywords'].apply(lambda x: x == target) |
              df_rec['genres'].apply(lambda x: x == target)]

filtered_df

,id,title,keywords,overview,genres,popularity,vote_average,vote_count
71,1735,The Mummy: Tomb of the Dragon Emperor,[],"Archaeologist Rick O'Connell travels to China,...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",60.034162,5.2,1387
83,79698,The Lovers,[],The Lovers is an epic romance time travel adve...,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2.418535,4.8,34
323,37786,Sex and the City 2,[],"Carrie, Charlotte, and Miranda are all married...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",18.325897,5.4,426
381,49852,The Nutcracker: The Untold Story,[],"Set in 1920's Vienna, this a tale of a little ...","[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",3.593349,5.4,50
436,109418,Grown Ups 2,[],The all-star comedy cast from Grown Ups return...,"[{'id': 35, 'name': 'Comedy'}]",45.589568,5.8,1155
...,...,...,...,...,...,...,...,...
4790,13898,The Circle,[],Various women struggle to function in the oppr...,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",1.193779,6.6,17
4794,286939,Sanctuary: Quite a Conundrum,[],"It should have been just a normal day of sex, ...","[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",0.166513,0.0,0
4797,67238,Cavite,[],"Adam, a security guard, travels from Californi...","[{'id': 10769, 'name': 'Foreign'}, {'id': 53, ...",0.022173,7.5,2
4799,72766,Newlyweds,[],A newlywed couple's honeymoon is upended by th...,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",0.642552,5.9,5
4801,126186,Shanghai Calling,[],When ambitious New York attorney Sam is sent t...,[],0.857008,5.7,7

In [20]:
df_rec['genres'] = df_rec['genres'].apply(
    lambda x: [genre['name'] for genre in x]
)

df_rec['keywords'] = df_rec['keywords'].apply(
    lambda x: [keyword['name'] for keyword in x]
)

df_rec.head()

,id,title,keywords,overview,genres,popularity,vote_average,vote_count
0,19995,Avatar,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]",150.437577,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]",139.082615,6.9,4500
2,206647,Spectre,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]",107.376788,6.3,4466
3,49026,The Dark Knight Rises,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]",112.312950,7.6,9106
4,49529,John Carter,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]",43.926995,6.1,2124

In [21]:
df_rec['genres'] = df_rec['genres'].apply(lambda x: x if x != [] else '-')
df_rec['keywords'] = df_rec['keywords'].apply(lambda x: x if x != [] else '-')

In [22]:
target = []

filtered_df = df_rec[df_rec['keywords'].apply(lambda x: x == target) |
              df_rec['genres'].apply(lambda x: x == target)]

filtered_df

Empty DataFrame
Columns: [id, title, keywords, overview, genres, popularity, vote_average, vote_count]
Index: []

# Feature Engineering

In [23]:
df_rec.head()

,id,title,keywords,overview,genres,popularity,vote_average,vote_count
0,19995,Avatar,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]",150.437577,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]",139.082615,6.9,4500
2,206647,Spectre,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]",107.376788,6.3,4466
3,49026,The Dark Knight Rises,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]",112.312950,7.6,9106
4,49529,John Carter,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]",43.926995,6.1,2124

In [24]:
df_rec.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4795 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4795 non-null   int64
 1   title         4795 non-null   object
 2   keywords      4795 non-null   object
 3   overview      4795 non-null   object
 4   genres        4795 non-null   object
 5   popularity    4795 non-null   float64
 6   vote_average  4795 non-null   float64
 7   vote_count    4795 non-null   int64
dtypes: float64(2), int64(2), object(4)
memory usage: 337.1+ KB

In [25]:
df_rec.to_csv("cleaned_movies.csv", index=False)