In [26]:
import pandas as pd
import numpy as np

In [27]:
df_movies = pd.read_csv("tmdb_5000_movies.csv")
df_amazon_ratings = pd.read_csv("ratings_Musical_Instruments.csv")

In [28]:
df_movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [29]:
df_amazon_ratings.columns = ['user','item','rating','timestamp']

In [30]:
df_amazon_ratings.head()

             user        item  rating   timestamp
0  A3TS466QBAWB9D  0014072149     5.0  1370476800
1  A3BUDYITWUSIS7  0041291905     5.0  1381708800
2  A19K10Z0D2NTZK  0041913574     5.0  1285200000
3  A14X336IB4JD89  0201891859     1.0  1350432000
4  A2HR0IL3TC4CKL  0577088726     5.0  1371168000

In [31]:
# movies_id = df_movies['id'].tolist()

In [32]:
# np.random.seed(42)
# df_amazon_ratings["movies_id"] = np.random.choice(movies_id, size=len(df_amazon_ratings))

In [33]:
# df_amazon_ratings = df_amazon_ratings.drop(columns=["item","timestamp"])

In [34]:
# df_amazon_ratings.to_csv("movies_rating.csv", index=False)

# df_ratings = df_amazon_ratings
# df_ratings.head()

In [35]:
# df_ratings.info()

In [36]:
df_movies["popularity_prob"] = df_movies["vote_count"] / df_movies["vote_count"].sum()

In [37]:
movie_ids = df_movies["id"].values
vote_avg = df_movies["vote_average"].values
pop_probs = df_movies["popularity_prob"].values

In [38]:
np.random.seed(42)

sampled_indices = np.random.choice(
    len(df_movies),
    size=len(df_amazon_ratings),
    replace=True,
    p=pop_probs
)

df_amazon_ratings["id"] = df_movies.iloc[sampled_indices]["id"].values
df_amazon_ratings["vote_average"] = df_movies.iloc[sampled_indices]["vote_average"].values

In [39]:
df_amazon_ratings["rating_scaled"] = df_amazon_ratings["rating"] * 2

In [40]:
df_amazon_ratings["final_rating"] = (
    df_amazon_ratings["rating_scaled"] * 0.7 +
    df_amazon_ratings["vote_average"] * 0.3
)

In [41]:
df_amazon_ratings["final_rating"] = df_amazon_ratings["final_rating"].clip(0, 10)

In [42]:
df_amazon_ratings["final_rating"] = df_amazon_ratings["final_rating"].round().astype(int)

In [43]:
df_amazon_ratings.head()

,user,item,rating,timestamp,id,vote_average,rating_scaled,final_rating
0,A3TS466QBAWB9D,0014072149,5.0,1370476800,9693,7.4,10.0,9
1,A3BUDYITWUSIS7,0041291905,5.0,1381708800,103328,6.9,10.0,9
2,A19K10Z0D2NTZK,0041913574,5.0,1285200000,3021,6.5,10.0,9
3,A14X336IB4JD89,0201891859,1.0,1350432000,8470,7.0,2.0,4
4,A2HR0IL3TC4CKL,0577088726,5.0,1371168000,109445,7.3,10.0,9

In [45]:
df_ratings = df_amazon_ratings[["user", "id", "final_rating"]]
df_ratings.head()

             user      id  final_rating
0  A3TS466QBAWB9D    9693             9
1  A3BUDYITWUSIS7  103328             9
2  A19K10Z0D2NTZK    3021             9
3  A14X336IB4JD89    8470             4
4  A2HR0IL3TC4CKL  109445             9

In [46]:
df_ratings.to_csv("user_movie_ratings_transformed.csv", index=False)